<div class="jumbotron">
    <h1 class="display-4">Welcome to My barber shop</h1>


    <p class="lead">
        <a class="btn btn-primary btn-lg"
           asp-controller="Booking"
           asp-action="Index" role="button">View Bookings</a>
    </p>
</div>
